<launch>

    <!-- Robot namespace -->
    <arg name="robot_name" default="gen3_lite"/>
    <arg name="start_delay_seconds" default="0"/>

    <!-- Launch the example in that namespace -->
    <node name="example_moveit" pkg="base_controller" type="example_moveit.py" ns="$(arg robot_name)" output="screen" launch-prefix="bash -c 'sleep $(arg start_delay_seconds); $0 $@' "/>

</launch>
